{% extends 'frontend/base.html' %}

{% block content %}

<div class="container about">
  <div class="cell about" id="navbar">
	<ul>
	  <li><a href="#home">Who We Are</a></li>
	  <li><a href="#home">Strategic Plan</a></li>
	  <li><a href="#home">News</a></li>
	  <li><a href="#home">Social Media</a></li>
	  <li><a href="#home">Contact Us</a></li>
	</ul>
  </div>

  <div class="cell about" id="main">
    <h1>About</h1>
	<div>
		Selfies pabst tilde live-edge everyday carry ennui vaporware ugh salvia. Brooklyn everyday carry keffiyeh pinterest, viral schlitz twee austin palo santo synth flannel cornhole marfa. Tote bag woke chambray, tilde banjo photo booth narwhal shaman cray chia. Gastropub cred knausgaard palo santo poke man bun typewriter gentrify health goth fingerstache four dollar toast la croix cold-pressed shoreditch. Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>

	<br>

	<div>
		Selfies pabst tilde live-edge everyday carry ennui vaporware ugh salvia. Brooklyn everyday carry keffiyeh pinterest, viral schlitz twee austin palo santo synth flannel cornhole marfa. Tote bag woke chambray, tilde banjo photo booth narwhal shaman cray chia. Gastropub cred knausgaard palo santo poke man bun typewriter gentrify health goth fingerstache four dollar toast la croix cold-pressed shoreditch. Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>

	<br>

	<div>
		Selfies pabst tilde live-edge everyday carry ennui vaporware ugh salvia. Brooklyn everyday carry keffiyeh pinterest, viral schlitz twee austin palo santo synth flannel cornhole marfa. Tote bag woke chambray, tilde banjo photo booth narwhal shaman cray chia. Gastropub cred knausgaard palo santo poke man bun typewriter gentrify health goth fingerstache four dollar toast la croix cold-pressed shoreditch. Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>

  <div class="cell about" id="sidebar">
  	<h3>Fun Facts About Mecca</h3>

  	<div>
		Selfies pabst tilde live-edge everyday carry ennui vaporware ugh salvia. 
	</div>

	<br>

	<div>
		Selfies pabst tilde live-edge everyday carry ennui vaporware ugh salvia. 
	</div>

	<br>

	<div>
		Selfies pabst tilde live-edge everyday carry ennui vaporware ugh salvia. Brooklyn everyday carry keffiyeh pinterest, viral schlitz twee austin palo santo synth flannel cornhole marfa. 
	</div>
  </div>
</div>

{% endblock %}