{% extends 'frontend/base.html' %}
{% load staticfiles%}

{% block content %}

<div class="container">
  <div class="card">
  	<img src="{% static 'frontend/img/DylanCornwell.jpg' %}" alt="My image" width="100" height="150">
  	<h3>Dylan Cornwell</h3>
	<div>
		Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>
  <div class="card">
  	<img src="{% static 'frontend/img/DylanCornwell.jpg' %}" alt="My image" width="100" height="150">
  	<h3>Chad Browick</h3>

	<div>
		Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>
  <div class="card">
  	<img src="{% static 'frontend/img/DylanCornwell.jpg' %}" alt="My image" width="100" height="150">
  	<h3>Betty Bam</h3>

	<div>
		Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>
  <div class="card">
  	<img src="{% static 'frontend/img/DylanCornwell.jpg' %}" alt="My image" width="100" height="150">
  	<h3>Mary Withcell</h3>

	<div>
		Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>
  <div class="card">
  	<img src="{% static 'frontend/img/DylanCornwell.jpg' %}" alt="My image" width="100" height="150">
  	<h3>Freddy Mercury</h3>

	<div>
		Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>
  <div class="card">
  	<img src="{% static 'frontend/img/DylanCornwell.jpg' %}" alt="My image" width="100" height="150">
  	<h3>Stacy Cormac</h3>
  	<div>
		Thundercats poutine man braid everyday carry, gluten-free chia four loko kinfolk chicharrones twee cold-pressed retro. Fam blog vinyl hella hexagon, trust fund pitchfork tacos cloud bread meditation twee authentic.
	</div>
  </div>
</div>

{% endblock %}